<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->

<script src="{{ root_url }}/javascripts/libs/jquery.tableofcontents.min.js" type="text/javascript"></script>
<script src="{{ root_url }}/javascripts/generate-toc.js" type="text/javascript"></script>

<link href="/stylesheets/prism-default.css" rel="stylesheet" />
<script src="/javascripts/prism.js"></script>
<style>
article blockquote {
  font-size: 0.9em;
}
</style>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?28583ca12a9f673dc8d86501f8d02bbe";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
