* + table {
  border-style:solid;
  border-width:1px;
  border-color:#bbb;
  margin-bottom: 0.5em;
}

* + table th, * + table td {
  border-style:solid;
  border-width:1px;
  border-color:#bbb;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.8em;
}

* + table th {
  text-align: center;
  border-style:solid;
  font-weight:bold;
  background: url("/images/noise.png?1330434582") repeat scroll left top #DDD;
}

* + table th[align="left"], * + table td[align="left"] {
  text-align:left;
}

* + table th[align="right"], * + table td[align="right"] {
  text-align:right;
}

* + table th[align="center"], * + table td[align="center"] {
  text-align:center;
}
